In [11]:
import pandas as pd

In [12]:
# Rainbow Tomatoes Garden(RTG)'s product dataset

df = pd.read_csv('Rainbow Tomatoes Garden Fish List.csv')

df['Type of Fish'].value_counts(ascending=False).head(25)

Type of Fish
Sardines                             225
Mackerel                              71
Mussels                               54
Anchovy                               45
Tuna, Albacore (Bonito del Norte)     44
Tuna, Yellowfin                       34
Squid                                 27
Tuna, Skipjack                        26
Sprats                                25
Octopus                               21
Cockles                               18
Herring                               18
Salmon                                14
Clam, Razor                           13
Tuna, Bluefin                          9
Cod                                    9
Eel                                    9
Trout                                  8
Scallop                                8
Garfish                                7
Anchovies                              7
Dace                                   6
Hake                                   6
King Crab                              6
Tuna, Bigeye                           5
Name: count, dtype: int64

In [83]:
df['Country Origin'].nunique()

27

In [87]:
df['Country Origin'].value_counts()

Country Origin
Spain                 387
Portugal              120
France                109
Italy                  34
USA                    24
Poland                 20
Germany                17
Japan                  14
Latvia                 12
Scotland                8
Denmark                 8
Morocco                 7
Taiwan                  6
China                   6
Chile                   5
Norway                  5
Cape Verde              5
Greece                  5
El Salvador             4
Armenia                 3
Korea                   3
Canada                  3
?                       1
Poland and Germany      1
Peru                    1
Russia                  1
Spain                   1
Name: count, dtype: int64

In [13]:
df.shape

(810, 30)

## Different fish and their origins (median price, oil used, median can size)

### üêü üêü Sardine üêü üêü

In [14]:
sardine = df[df['Type of Fish'].isin(['Sardines', 'Sardine'])]

In [15]:
sardine['Country Origin'].value_counts()

Country Origin
Portugal    73
France      66
Spain       66
Italy        8
Morocco      7
Japan        3
Greece       3
Spain        1
Name: count, dtype: int64

### üáµüáπ

In [16]:
Portugal = sardine[sardine['Country Origin'] == 'Portugal']
Portugal['RTG $'].astype(float).median()

8.0

In [17]:
Portugal['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                          50
Extra Virgin Olive Oil              8
Sunflower                           4
Extra Virgin Olive Oil, Organic     4
Sunflower Oil                       4
Olive OIl                           1
Olive Oli                           1
Name: count, dtype: int64

**Q: Portugal's canned sardine is the cheapest because it mainly uses non-extra virgin olive oil?**

In [18]:
Portugal['Tin Size (in oz unless otherwise noted)'].median()

4.2

**Portugal = cheap, big portion, bad oil**

### üá´üá∑

In [19]:
France = sardine[sardine['Country Origin'] == 'France']
France['RTG $'].astype(float).median()

10.5

In [20]:
France['Oil/Water Used'].value_counts()

Oil/Water Used
Extra Virgin Olive Oil                                     35
Extra Virgin Olive Oil, Organic                            10
Sunflower Oil                                               5
Butter                                                      5
Sunflower, Extra Virgin Olive Oil                           3
Olive Oil                                                   2
Grapeseed Oil                                               2
Extra Virgin Olive Oil, Sunflower Oil                       1
Extra Virgin Olive Oil, Organic; Sunflower Oil, Organic     1
Peanut Oil                                                  1
Extra Virgin Olive OIl                                      1
Name: count, dtype: int64

In [21]:
France['Tin Size (in oz unless otherwise noted)'].median()

4.0

**France = expensive, smaller portion, great oil**

### üá™üá∏

In [22]:
Spain = sardine[sardine['Country Origin'] == 'Spain']
Spain['RTG $'].astype(float).median()

11.0

In [23]:
Spain['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                          51
Extra Virgin Olive Oil              6
Sunflower Oil                       4
Extra Virgin Olive Oil, Organic     2
Olive OIl                           2
Vegetable Oil                       1
Name: count, dtype: int64

In [24]:
Spain['Tin Size (in oz unless otherwise noted)'].median()

4.2

**Spain = most expensive, same portion as Portugal, bad oil... not worth!**

### üêü üêü Mackerel üêü üêü

In [25]:
mackerel = df[df['Type of Fish'] == 'Mackerel']

In [26]:
mackerel['Country Origin'].value_counts()

Country Origin
Portugal      18
Spain         16
France        14
Scotland       6
Japan          5
Poland         4
Norway         3
Italy          2
Cape Verde     1
USA            1
Germany        1
Name: count, dtype: int64

### üáµüáπ

In [27]:
Portugal = mackerel[mackerel['Country Origin'] == 'Portugal']
Portugal['RTG $'].astype(float).median()

9.5

In [28]:
Portugal['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                          13
Extra Virgin Olive Oil, Organic     3
Rapeseed Oil                        1
Extra Virgin Olive Oil              1
Name: count, dtype: int64

In [29]:
Portugal['Tin Size (in oz unless otherwise noted)'].astype(float).median()

4.2

### üá™üá∏

In [30]:
Spain = mackerel[mackerel['Country Origin'] == 'Spain']
Spain['RTG $'].astype(float).median()

9.75

In [31]:
Spain['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                          9
Extra Virgin Olive Oil, Organic    5
Sunflower Oil                      2
Name: count, dtype: int64

In [32]:
Spain['Tin Size (in oz unless otherwise noted)'].astype(float).median()

4.1

### üá´üá∑

In [33]:
France = mackerel[mackerel['Country Origin'] == 'France']
France['RTG $'].astype(float).median()

9.0

In [34]:
France['Oil/Water Used'].value_counts()

Oil/Water Used
Sunflower Oil                      5
Extra Virgin Olive Oil             4
Water                              2
Extra Virgin Olive Oil, Organic    1
Water, Cream                       1
Name: count, dtype: int64

In [35]:
France['Tin Size (in oz unless otherwise noted)'].median()

5.359999999999999

### üêü üêü Anchovy üêü üêü

In [36]:
anchovy = df[df['Type of Fish'].isin(['Anchovy', 'Anchovies'])]

In [37]:
anchovy['Country Origin'].value_counts()

Country Origin
Spain     36
Italy      8
France     4
Korea      2
Peru       1
Greece     1
Name: count, dtype: int64

### üá™üá∏

In [38]:
Spain = anchovy[anchovy['Country Origin'] == 'Spain']
Spain['RTG $'].astype(float).median()

21.0

In [39]:
Spain['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                          13
Extra Virgin Olive Oil             11
Sunflower Oil                       8
Extra Virgin Olive Oil, Organic     2
Anchovy Extract                     1
Name: count, dtype: int64

In [40]:
Spain['Tin Size (in oz unless otherwise noted)'].median()

3.5

### üáÆüáπ

In [41]:
Italy = anchovy[anchovy['Country Origin'] == 'Italy']
Italy['RTG $'].astype(float).median()

10.75

In [42]:
Italy['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                 6
Extra Virgin Olive Oil    2
Name: count, dtype: int64

In [43]:
Italy['Tin Size (in oz unless otherwise noted)'].median()

3.17

**Italy's anchovies are half the price of Spain's!**

### üá´üá∑

In [44]:
France = anchovy[anchovy['Country Origin'] == 'France']
France['RTG $'].astype(float).median()

8.75

In [45]:
France['Oil/Water Used'].value_counts()

Oil/Water Used
Extra Virgin Olive Oil, Organic    2
Olive Oil                          1
Extra Virgin Olive Oil             1
Name: count, dtype: int64

In [46]:
France['Tin Size (in oz unless otherwise noted)'].median()

2.98

**French fish is more likely to be soaked in extra virgin olive oil!**

### üêü üêü Salmon üêü üêü

In [47]:
salmon = df[df['Type of Fish'].str.contains('Salmon', na=False)]

In [48]:
salmon['Country Origin'].value_counts()

Country Origin
USA         9
Poland      3
France      3
Portugal    2
Denmark     2
Italy       1
Chile       1
Canada      1
Germany     1
Name: count, dtype: int64

### üá∫üá∏

In [49]:
USA = salmon[salmon['Country Origin'] == 'USA']
USA['RTG $'].astype(float).median()

16.0

In [50]:
USA['Oil/Water Used']

598    Extra Virgin Olive Oil, Organic
599    Extra Virgin Olive Oil, Organic
600    Extra Virgin Olive Oil, Organic
784                                NaN
785                                NaN
788                                NaN
790                                NaN
791                                NaN
792                                NaN
Name: Oil/Water Used, dtype: object

In [51]:
USA['Oil/Water Used'].value_counts()

Oil/Water Used
Extra Virgin Olive Oil, Organic    3
Name: count, dtype: int64

In [52]:
USA['Tin Size (in oz unless otherwise noted)'].median()

6.0

### üáµüá±

In [53]:
Poland = salmon[salmon['Country Origin'] == 'Poland']
Poland['RTG $'].astype(float).median()

5.0

In [54]:
Poland['Oil/Water Used'].value_counts()

Oil/Water Used
Extra Virgin Olive Oil    3
Name: count, dtype: int64

In [55]:
Poland['Tin Size (in oz unless otherwise noted)'].median()

4.05

### üá´üá∑

In [56]:
France = salmon[salmon['Country Origin'] == 'France']
France['RTG $'].astype(float).median()

9.0

In [57]:
France['Oil/Water Used']

250     Spring water
271              NaN
479    Sunflower Oil
Name: Oil/Water Used, dtype: object

In [58]:
France['Oil/Water Used'].value_counts()

Oil/Water Used
Spring water     1
Sunflower Oil    1
Name: count, dtype: int64

In [59]:
France['Tin Size (in oz unless otherwise noted)'].median()

4.0

### üêü üêü Tuna üêü üêü

In [60]:
tuna = df[df['Type of Fish'].str.contains('Tuna', na=False)]

In [61]:
# 2nd most popular fish at RTG

tuna.shape

(126, 30)

In [62]:
tuna['Country Origin'].value_counts()

Country Origin
Spain          79
Portugal       19
Italy          11
France          8
Cape Verde      4
El Salvador     4
USA             1
Name: count, dtype: int64

### üá™üá∏

In [63]:
Spain = tuna[tuna['Country Origin'] == 'Spain']
Spain['RTG $'].astype(float).median()

20.0

In [64]:
Spain['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                            57
Extra Virgin Olive Oil               12
Sunflower Oil                         7
Olive Oil, Extra Virgin Olive Oil     1
Extra Virgin Olive Oil, Organic       1
Name: count, dtype: int64

In [65]:
Spain['Tin Size (in oz unless otherwise noted)'].median()

4.0

### üáµüáπ

In [66]:
Portugal = tuna[tuna['Country Origin'] == 'Portugal']
Portugal['RTG $'].astype(float).median()

11.0

In [67]:
Portugal['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil                          15
Extra Virgin Olive Oil, Organic     1
Extra Virgin Olive Oil              1
Olive Oil, Organic                  1
Name: count, dtype: int64

In [68]:
Portugal['Tin Size (in oz unless otherwise noted)'].median()

4.2

### üáÆüáπ

In [69]:
Italy = tuna[tuna['Country Origin'] == 'Italy']
Italy['RTG $'].astype(float).median()

13.0

In [70]:
Italy['Oil/Water Used'].value_counts()

Oil/Water Used
Olive Oil        10
Sunflower Oil     1
Name: count, dtype: int64

In [71]:
Italy['Tin Size (in oz unless otherwise noted)'].median()

6.75

## Price per oz

In [3]:
import pandas as pd

select_df = [
    ["Spainish anchovy", 21, 3.5],
    ["Italian anchovy", 10.75, 3.17],
    ["French anchovy", 8.75, 2.98],
    ["Portuguese mackerel", 9.5, 4.2],
    ["Spanish mackerel", 9.75, 4.1],
    ["French mackerel", 9, 5.36],
    ["Portuguese sardine", 8, 4.2],
    ["French sardine", 10.5, 4],
    ["Spanish sardine", 11, 4.2],
    ["Spanish tuna", 20, 4],
    ["Portuguese tuna", 11, 4.2],
    ["Italian tuna", 13, 6.75]
]

# Define column names
columns = ["Type of Fish", "Average Price (USD)", "Average Size (oz)"]

# Create the dataframe
select_df = pd.DataFrame(select_df, columns=columns)

# Display the dataframe
print(select_df)

           Type of Fish  Average Price (USD)  Average Size (oz)
0      Spainish anchovy                21.00               3.50
1       Italian anchovy                10.75               3.17
2        French anchovy                 8.75               2.98
3   Portuguese mackerel                 9.50               4.20
4      Spanish mackerel                 9.75               4.10
5       French mackerel                 9.00               5.36
6    Portuguese sardine                 8.00               4.20
7        French sardine                10.50               4.00
8       Spanish sardine                11.00               4.20
9          Spanish tuna                20.00               4.00
10      Portuguese tuna                11.00               4.20
11         Italian tuna                13.00               6.75

In [7]:
select_df['price_per_oz'] = select_df['Average Price (USD)'] / select_df['Average Size (oz)']

In [10]:
select_df.sort_values(by="price_per_oz", ascending=True)

           Type of Fish  Average Price (USD)  Average Size (oz)  price_per_oz
5       French mackerel                 9.00               5.36      1.679104
6    Portuguese sardine                 8.00               4.20      1.904762
11         Italian tuna                13.00               6.75      1.925926
3   Portuguese mackerel                 9.50               4.20      2.261905
4      Spanish mackerel                 9.75               4.10      2.378049
8       Spanish sardine                11.00               4.20      2.619048
10      Portuguese tuna                11.00               4.20      2.619048
7        French sardine                10.50               4.00      2.625000
2        French anchovy                 8.75               2.98      2.936242
1       Italian anchovy                10.75               3.17      3.391167
9          Spanish tuna                20.00               4.00      5.000000
0      Spainish anchovy                21.00               3.50      6.000000

## Total fish count

In [74]:
len(mackerel) + len(sardine) + len(tuna) + len(anchovy)

476

## Oil used

In [85]:
df[df['Oil/Water Used'].str.contains('Extra Virgin Olive Oil', na=False)]['Country Origin'].value_counts()

Country Origin
France         63
Spain          61
Portugal       22
Poland         14
USA             5
El Salvador     4
Italy           2
Japan           1
Name: count, dtype: int64